{% extends 'base.html' %}


{% block content %}
<section class="banner">
      <div class="banner-inner">
      </div>
</section>
<h1>Cursos recentes</h1>
    <div class="row">
        {% for Course in courses %}
        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                            <img  height=100% width=100% src="{{Course.banner.url}}">
                            <h5 class="card-title">{{Course.name}}<br></h5>
                            <p class="card-text">{{Course.description}}</p>
                            <a herf="{% url 'cursos:detail-course' Course.pk %}" class="btn btn-primary">Ver curso</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}