{% extends 'base.html' %}

{% block content %}

<img src="{{course.banner.url}}">
<div class="pos">
<div class=" border">
    <h2 class="card-title">{Course.name}</h2>
    <p class="card-text">{{Course.description}}</p>
  </div>
  <div>
    <div class="card-body">
    <ul>
      {% for episodes in course.episodio.all %}
      <h5 class="card-title">
         {{ episodes.title }} - <img width="10%" height="auto" src="{{ episodes.thumbnail.url }}"> - <video width="320" height="240" controls> <source src="{{ episodes.video.url}}"></video> <br>
      </h5>
         {% endfor %}
    </ul>
   </div>
  </div>
{% endblock content %}